html, body, nav, section{
	font-family: 'Open Sans', sans-serif;
}
/* landing page style rules */
.landingText {
	padding-top: 100px;
}

.landingPage {
	color: black;
	background-image: url(catLanding.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}

/* about style rules */

#about {
	
	position: static;
}
.aboutHeader {
	color: black;
	padding-top: 50px;
}

.aboutText {
	width: 70%;
	margin: auto;
	padding-bottom: 50px;
}

.aboutPage {
	padding-bottom: 100px;
}

/* visit and rules style rules */

.visitHeader {
	padding-top: 100px;
}

.visitSection {
	padding-top: 100px;
}

/*adoption style rules */

img {
	display: inline-block;
	width: 100%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}


.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.image {
  opacity: 1;
  display: block;
  height: 275px;
  width: 276px;
  padding-top: 20px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper:hover .image {
  opacity: 0.3;
}

.wrapper:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
