html, body, nav, section{
	font-family: 'Open Sans', sans-serif;
}
/* landing page style rules */
.landingText {
	padding-top: 100px;
}

.landingPage {
	color: white;
	background-image: url(strayCafeLanding.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}

/* about style rules */

#about {
	height: 100vh;
	width: 100vw;
}
.aboutHeader {
	color: black;
	padding-top: 50px;
}

.aboutText {
	width: 70%;
	margin: auto;
}

/* visit and rules style rules */

#rules {
	height: 100vh;
	width: 100vw;
}

.visitHeader {
	padding-top: 50px;
}

.visitRules {
	text-align: center;
}